html,
body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/6c/25/a6/6c25a625c5dd276d9b1af4f690483769.jpg");
}

body:after {
  background-color: red;
  content: "";
  opacity: 0.8;
  position: fixed;
  top: 0;
  bottom: 43%;
  right: 0;
  left: 0;
  z-index: -1;
}

.bg {
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
}

.bg_blacLine {
  display: flex;
  width: 100%;
  height: 46px;
  background-color: black;
  position: absolute;
}

.bg_blackCircle,
.bg_whiteCircle,
.bg_whiteCircleBlackBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
}

.bg_blackCircle {
  height: 280px;
  width: 280px;
  background-color: black;
}

.bg_whiteCircle {
  height: 210px;
  width: 210px;
  background-color: #ffffff;
}

.bg_whiteCircleBlackBorder {
  height: 150px;
  width: 150px;
  border: 4px solid black;
  background-color: #ffffff;
}

.app {
  z-index: 40;
  padding: 50px;
  height: 100vh;
  background-size: cover;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.pokemonCard {
  display: flex;
  position: absolute;
  cursor: pointer;
  background-size: cover;
  height: 200px;
  width: 200px;
  padding: 30px;
}

.invisible-element {
  z-index: 2;
  display: flex;
  height: 200px;
  width: 150px;
  position: absolute;
}

.close {
  padding-left: 120px;
  padding-top: 10px;
}

button {
  background-color: #aaaaaa;
  color: #eeeeee;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #008000;
}

/* * {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* body,
html {
  display: flex;
  justify-content: center;
} */

/* .container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.left-up {
  width: 50vw;
  height: 50vh;
  background: #ff3d41;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.square_left-up {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: black;
}

.blackLine_left-up {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

.blackLine_left-down {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

.left-down {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}

h1 {
  padding-bottom: 10px;
}


.right-up {
  width: 50vw;
  height: 50vh;
  display: flex;
  background: #ff3d41;
  align-items: flex-end;
}

.blackLine_right-up {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

.square_right-up {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: black;
}

.right-down {
  width: 50vw;
  height: 50vh;
  display: flex;
}

.blackLine_right-down {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

.pokemonCard {
  display: flex;
  position: absolute;
  cursor: pointer;
  background-size: cover;
  left: 300px;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.invisible-element {
  z-index: 2;
  display: flex;
  height: 200px;
  width: 150px;
  position: absolute;
}

.close {
  padding-left: 120px;
  padding-top: 10px;
}

.square__right-up {
  display: flex;
  height: 80px;
  width: 160px;
  background-color: green;
}

.square__right-down {
  display: flex;
  height: 80px;
  width: 160px;
  background-color: green;
} */
